[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = walnascar
[submodule "repos/meta-ros"]
	path = repos/meta-ros
	url = https://github.com/ros/meta-ros
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
[submodule "repos/bitbake"]
	path = repos/bitbake
	url = https://git.openembedded.org/bitbake.git
[submodule "repos/openembedded-core"]
	path = repos/openembedded-core
	url = https://git.openembedded.org/openembedded-core
[submodule "repos/meta-yocto"]
	path = repos/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
[submodule "repos/yocto-docs"]
	path = repos/yocto-docs
	url = https://git.yoctoproject.org/yocto-docs
