[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = walnascar
[submodule "repos/meta-ros"]
	path = repos/meta-ros
	url = https://github.com/ros/meta-ros
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization