[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "repos/meta-ros"]
	path = repos/meta-ros
	url = https://github.com/cuol-sapience/meta-ros
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
[submodule "repos/bitbake"]
	path = repos/bitbake
	url = https://git.openembedded.org/bitbake.git
[submodule "repos/meta-yocto"]
	path = repos/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
[submodule "repos/yocto-docs"]
	path = repos/yocto-docs
	url = https://git.yoctoproject.org/yocto-docs
[submodule "repos/openembedded-core"]
	path = repos/openembedded-core
	url = https://git.openembedded.org/openembedded-core/
[submodule "repos/meta-intel"]
	path = repos/meta-intel
	url = https://git.yoctoproject.org/meta-intel
[submodule "repos/meta-clang-revival"]
	path = repos/meta-clang-revival
	url = https://github.com/zboszor/meta-clang-revival
[submodule "repos/meta-browser"]
	path = repos/meta-browser
	url = https://github.com/OSSystems/meta-browser
[submodule "repos/meta-python-ai"]
	path = repos/meta-python-ai
	url = https://github.com/zboszor/meta-python-ai
